<h1>Public::Orders#confirm</h1>

<h3>注文情報確認</h3>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <th>
        <%= cart_item.item.name %>
      </th>
      <th>
        <%= (cart_item.item.price).to_s(:delemited) %>
      </th>
      <th>
        <%= cart_item.amount %>
      </th>
      <th>
        <%= (cart_item.item.price*cart_item.amount).to_s(:delemited) %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <th>送料</th>
    <td>
      <%= @postage %>
    </td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td>
      ¥<%= @total.round.to_s(:delimited) %>
    </td>
  </tr>
  <tr>
    <th>請求金額</th>
    <td>
      ¥<%= @total + @postage %>
      <!--送料足せない-->
    </td>
  </tr>
</table>

<strong>支払い方法</strong>
<%= @new_order.method_of_payment_i18n %><br>
<!--「i18n」＝日本語化(enum)-->

<strong>お届け先</strong><br>
〒<%= @new_order.postal_code %><br>
<%= @new_order.address %><br>
<%= @new_order.name %><br>

<%= form_with model: @new_order, url: public_orders_path, method: :post do |f| %>
<!--form_withでは、その時点で持たされた情報は既にモデル(変数内)に入っているので、-->
<!--カラムを指定するだけで、情報を送ることができる-->

  <%= f.hidden_field :postal_code %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :method_of_payment %>

  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <%= f.hidden_field :postage, value: @postage %>
  <%= f.hidden_field :total_payment, value: @total %>


  <%= f.submit "注文を確定する" %>

<% end %>