      <h3>注文情報入力</h3>

      <%= form_with model: @new_order, url: confirm_public_orders_path, method: :post do |f| %>

          <h4>支払方法</h4>
          <%= f.radio_button :method_of_payment, :credit_card, checked: true %>
          <%= f.label :クレジットカード, class: "method_of_payment_label" %><br>
          <%= f.radio_button :method_of_payment, :transfer %>
          <%= f.label :銀行振込, class: "method_of_payment_label" %>

          <h4>お届け先</h4>
          <!--ユーザー自身の住所-->
          <%= f.radio_button :address_number, 1, checked: true %>
          <%= f.label 'ご自身の住所' %><br>
          <%= current_customer.address %><br>

          <!--登録済み住所から選択-->
          <%= f.radio_button :address_number, 2 %>
          <%= f.label '登録住所から選択' %><br>
          <%= f.collection_select :registered, current_customer.addresses.all, :id, :address, include_blank: "選択してください" %><br>
          <!--これから保存するカラム?名、配列データ、配列データ個々の識別(id)、引用元のカラム名-->

          <!--新しいお届け先-->
          <%= f.radio_button :address_number, 3 %>
          <%= f.label "新しいお届け先" %><br>
          <table>
            <tr>
              <th>郵便番号(ハイフンなし)</th>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= f.text_field :address %></td>
            </tr>
            <tr>
              <th>宛名</th>
              <td><%= f.text_field :name %></td>
            </tr>
          </table>

          <%= f.submit "確認画面へ進む" %>

      <% end %>