<h1>Public::Items#index</h1>

<%= render 'homes/genre_search', genres: @genres %>

<br>

<!--ジャンル絞り込み検索できるようにする-->

<% @item.each do |item| %>

  <% if item.image.attached? %>
    <%= image_tag item.image %>
  <% else %>
    <%= image_tag 'no_image' %><br>
  <% end %>

  <%= item.name %><br>
  \<%= item.price %>

<% end %>

<!--ページネーション-->
