<h1>Public::Items#show</h1>

<%= render 'homes/genre_search', genres: @genres %>

<br>

<% if @item.image.attached? %>
  <%= image_tag @item.image %>
<% else %>
  <%= image_tag 'no_image' %><br>
<% end %>

<h4><%= @item.name %></h4><br>
<%= @item.introduction %><br>
\<%= @item.add_tax_price.to_s(:delimited) %>(税込)


<%= form_with model: @new_cart_item, url: public_cart_items_path, method: :post do |f| %>

  <%= f.hidden_field :item_id, :value => Item.find(params[:id]) %>

  <%= f.select :amount, *[1..3], include_blank: "個数を選択" %>

  <%= f.submit 'カートに入れる' %>

<% end %>