<div class="container">
  <div class="row">

    <div class="col-lg-2 mt-3">
      <%= render 'homes/genre_search', genres: @genres %>
    </div>

    <div class="col-lg-5 my-5 text-center">
      <div class="mx-auto">

      </div>
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "300x300" %>
      <% else %>
        <%= image_tag 'no_image', size: "300x300" %><br>
      <% end %>
    </div>

    <div class="col-lg-5 my-5">
      <h4><%= @item.name %></h4><br>
      <%= @item.introduction %><br>
      ￥<%= @item.add_tax_price.to_s(:delimited) %>(税込)

      <%= form_with model: @new_cart_item, url: public_cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..3], include_blank: "個数を選択" %>
        <%= f.submit 'カートに入れる', class: "btn btn-secondary btn-sm" %>
      <% end %>
    </div>

  </div>
</div>